<div class="ui-g">
  <div class="ui-g-8">
    <p-card>
      <p-treeTable  [columns]="cols"
                    [value]="listaDocumento"
                    [(selection)]="listaDocumentoSeleccionado"
                    selectionMode="checkbox"
                    sortMode="multiple">
        <ng-template pTemplate="caption">
          <div style="text-align:left">
            <p-treeTableHeaderCheckbox (click)="corregir()"></p-treeTableHeaderCheckbox>
            <span style="margin-left: .25em; vertical-align: middle">Seleccionar Todo</span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
              {{col.header}}
              <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0" (click)="corregir()"></p-treeTableCheckbox>
                {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </p-card>
  </div>
  <div class="ui-g-4">
    <p-card>
      Seleccionados
      <p-treeTable>>
        <ng-template pTemplate="summary">
          <div style="text-align: left">
              Documentos seleccionados: <span *ngIf="!listaDocumentoSeleccionado || listaDocumentoSeleccionado.length === 0" style="font-weight: normal">No ha seleccionado documentos</span>
              <ul *ngIf="listaDocumentoSeleccionado && listaDocumentoSeleccionado.length">
                  <li *ngFor="let node of listaDocumentoSeleccionado">
                      <span style="font-weight: normal">{{node.data.numero + ' - ' + node.data.cuenta}}</span>
                  </li>
              </ul>
          </div>
      </ng-template>
      </p-treeTable>
    </p-card>
  </div>
</div>


